include ChangeLog LICENSE MANIFEST.in NOTICE README.md requirements.txt AUTHORS
prune .circleci
prune tests
prune examples
prune scripts
exclude test-requirements.txt tox.ini .mailmap
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.un~
