version: 2
jobs:
  test-python3:
    docker:
      - image: circleci/python:3.6.1
      
    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "test-requirements-mypy.txt" }}
          - v1-dependencies-

      - run:
          name: Run Tests
          command: |
            sudo pip install tox
            tox -e mypy

      - save_cache:
          paths:
            - ./.tox/py36
          key: v1-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "test-requirements-mypy.txt" }}

      - run:
          name: Upload Coverage
          command: |
            pip install --user codecov
            python -m codecov

  test-python2:
    docker:
      - image: circleci/python:2.7.14

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-py2-{{ checksum "requirements.txt" }}-{{ checksum "test-requirements.txt" }}
          - v1-dependencies-py2-

      - run:
          name: Run Tests
          command: |
            sudo pip install tox
            tox -e py27

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-py2-{{ checksum "requirements.txt" }}-{{ checksum "test-requirements.txt" }}

      - run:
          name: Upload Coverage
          command: |
            pip install --user codecov
            python -m codecov
workflows:
  version: 2
  test:
    jobs:
      - test-python3
      - test-python2
